!!!5
%meta{charset: "utf-8"}
%html
  %head
    %title The Cost of a Waterloo Software Engineering Degree
    %meta{http-equiv: "content-type", content: "text/html; charset=UTF8"}
    %link{rel: "stylesheet", type: "text/css", href: "style.css"}
    %script{type: "text/javascript", src: "vendor.js"}
    %script{type: "text/javascript", src: "application.js"}
  %body
    Hello world!